* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
  height: calc(100vh - 90px);
  display:flex;
  flex-wrap: nowrap;
   overflow: auto;
}

.col-sx {
  width:200px;
  background: black;
  height: 100%;
  flex-direction: column;
  color: grey;
}
.top{
  justify-content: space-between;
  height: 80%
}
.col-sx .logo {
  font-size: 28px;
  color: white;
}
.menulist button {
  display: block;
  font-size: 20px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-color: transparent;
  background-color: transparent ;
  padding: 10px 10px;
/*  border-left: 3px solid #5b6987;
  border-left: 3px solid;*/

}
.menulist button:active {
  border-left-color:  green;


}
.menulist button a{
  color: grey;
  text-decoration: none;
}
.menulist button a:hover{
text-decoration: none;
}
.menulist button a:active{
  color: white;
  text-decoration: none;
}
h6{
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 10px;


}
.recent  a  {
  font-size: 20px;
  text-decoration: none;
    color: grey;
    padding: 10px 10px;

}
.recent a:active  {
  color: white;
}
@media screen and (max-width: 420px){
    .menulist span{
      display: none;
}
    .recent{
      display: none;
    }
    .bottom span{
      display: none;
    }
    .col-sx strong{
      display: none;
    }
    .m-info{
      display: none;
    }

}
.bottom{
  align-items: flex-end;
  height: 20%;
  justify-content: space-between;
}
.install{
  text-decoration: none;
  color: grey;
  padding: 10px 10px;
  font-size: 25px;


}
.col-dx {
  flex-grow:1;
  background: yellow;
/*  height: 100%;*/
  text-align: center;

}



 #hamburger-menu{
    display: none;
    color: white;
}
#hamburger-menu a{
   color: white;
}
@media screen and (max-width: 768px) {

      #hamburger-menu   {
      display: inline-block;
      float: left;
      font-size: 35px;
      }
    .scopri{
      display: none;
    }

    }

.scopri li{
  display:inline-block;

}
.scopri li a{
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
  margin-right: 15px;
}
.scopri li a:active{
  color: white;
  text-decoration: none;
  height: 100%;
}
.container{
  display: flex;
   flex-wrap: wrap;
}
.artist-container{
  margin:15px;
}
.dxtitle{
  color: white;
  float: left;
}
.artist{
  width: 150px;
  height: 150px;
  border-radius: 80px;
}
.recent{
}
footer {
  height:90px;
  background-color: grey;
  display: flex;
  color: white;


}
.ftsx{
  display: flex;
  width: 40%
}

.mplay{
  padding: 10px;
  height: 90px;
  width:  90px;
}
.m-info{
  margin-top: 25px;

}
.fa-heart{
  margin-top: 25px;
  font-size: 20px;
}
.ft-center {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 30%;
}
.mcomand {
    padding: 10px;
    text-align: center;
}


.m-but  i {
    font-size: 16px;
    padding: 0 5px;
    margin-left: 10px;
    line-height: 26px;
    color: white;
}
.m-time {
  color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
